html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: fixed;
}

#gameCanvas {
    display: block;
    width: 100vw;
    height: 100vh;
}

center {
    position: fixed;
    bottom: 30px;
    z-index: 1000;
    width: 100%;
    right: 1.5%;
    transition: 2s;
}
